<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>io.github.uqda.core</string>
    <key>ProgramArguments</key>
    <array>
      <string>/usr/local/bin/uqda</string>
      <string>-useconffile</string>
      <string>/etc/uqda/uqda.conf</string>
    </array>
    <key>KeepAlive</key>
    <true/>
    <key>RunAtLoad</key>
    <true/>
    <key>ProcessType</key>
    <string>Interactive</string>
    <key>StandardOutPath</key>
    <string>/Library/Logs/Uqda/stdout.log</string>
    <key>StandardErrorPath</key>
    <string>/Library/Logs/Uqda/stderr.log</string>
  </dict>
</plist>
